**/*.pkl
outputs/
**/*.tiff
**/*.tif
**/*.png
**/*.jpg
**/*.jpeg
**/__pycache__/*
**/*.pyc
*.pyc

# Custom files
.vscode/
lulc_refinement/data_memmap
**/*.dat
**/*.db
**/*.ckpt
**/*.pt
**/*.pth
**/*.h5
**/*.npy
**/*.zip